altgraph==0.17.5
certifi==2026.1.4
charset-normalizer==3.4.4
distlib==0.4.0
docutils==0.22.4
filelock==3.21.0
filetype==1.2.0
idna==3.11
Kivy==2.3.1
Kivy-examples==2.3.1
Kivy-Garden==0.1.5
packaging==26.0
pexpect==4.9.0
pillow==10.4.0
platformdirs==4.6.0
ptyprocess==0.7.0
Pygments==2.19.2
pyperclip==1.11.0
requests==2.32.5
setuptools==82.0.0
sh==2.2.2
urllib3==2.6.3
virtualenv==20.36.1
wheel==0.46.3
yt-dlp==2026.2.4
